body {
    background: #2d343d;
}

.formMenu{
    background: #ffffff;
    width: 1350px;
    height: 850px;
    margin: 50px auto;
}

.Menu {
    background: white;
    font-size: 16px;
    font-weight: 300;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    width: 220px;
}

.iframe {
    margin-top: 5px;
    width: 1080px;
    height: 830px;
    border: solid 1px black;
    margin-left: 5px;
}

.divMenu {
    float:left;
    width: 250px;
    height: 850px;
}

.divFrame {
    float:left;
    width: 1100px;
    height: 850px;
}

.Imagen{
    margin-left:10px;
    margin-top: 10px;
}
