body {
    background: #2d343d;
}

form {
    background: #ffffff;
    width: 80%;
    margin: 20px auto;
}

.Menu {
    background: #3f3e51;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 300;
    border-style: solid;
    border-radius: 5px;
    margin-left: 17%;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    
}
