body {
  background: #2d343d;
}

.form {
  margin: 20px auto;
  width: 800px;
  padding: 30px 25px;
  background: white;
  border: 1px solid #c4c4c4;
}

::-webkit-input-placeholder { /* Chrome */
  color: red;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ADADAD;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #ADADAD;
  opacity: 1;
}

h1.regist-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #ADADAD;
  text-align:center;
  background: #f7f7f7;
}
.Textbox-title {
  margin: -28px -25px 25px;
  padding: 15px 25px;
  line-height: 30px;
  font-size: 25px;
  font-weight: 300;
  color: #ADADAD;
  text-align:center;
  background: #f7f7f7;
}

.BtnLeft {
    width: 285px;
    height: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
    font-size: 16px;
    color: #2d343d;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 90px;
}
.BtnRight {
    width: 285px;
    height: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
    font-size: 16px;
    color: #ADADAD;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 21px;
}
.BtnCenter {
    width: 285px;
    height: 25px;
    margin-bottom: 25px;
    padding-left: 10px;
    font-size: 16px;
    color: #ADADAD;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 254px;
}
.regist-input:focus {
    border-color:#6e8095;
    outline: none;
  }
.Regresar-button {
  width: 250px;
  height: 50px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
  margin-left: 96px;
}

.Guardar-Button {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    width: 250px;
    height: 50px;
    padding: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background: #f0776c;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    margin-left: 115px;
}

.login-lost
{
  text-align:center;
  margin-bottom:0px;
}

.login-lost 
{
  color:#666;
  text-decoration:none;
  font-size:13px;
}