body {
    background: #2d343d;
}

form {
    background: white;
    margin: 100px auto;
    width: 1050px;
    text-align: center;
}

.textbox {
  width: 180px;
  height: 30px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 20px;
  padding-left:10px;
  font-size: 20px;
  font-weight: 300;
  color: #ADADAD;
  text-align:center;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.button {
  width: 200px;
  height: 35px;
  margin-bottom: 25px;
  margin-left: 20px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background: #f0776c;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}

.divInfo {
    margin-top: 100px;
}

.divButton {
    margin-bottom: 100px;
}

h1 {
    background-color: #12101e;
    height: 50px;
    padding: 5px 5px 5px 5px 5px;
    color:white;
}