body {
    
}

.Button {
  width: 200px;
  height: 40px;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  background: #2d343d;
  border: 0;
  border-radius: 5px;
  cursor: pointer; 
  outline:0;
}

#DivSubMenu {
    width: 15%;
    height:100%;
    float:left;
    margin-top:30px;
}

#DivContenido {
    width: 85%;
    float:left;
    margin-top:30px;
}

#DivCrear {
    text-align:center;
}

#DivConsultar {
    text-align:center;
}

.DivLeft {
    width:33%;
    text-align:right;
    float:left;
    align-self:center;
}

.DivCenter {
    width:33%;
    text-align:center;
    float:left;
}

.DivRight {
    width:33%;
    text-align:left;
    float:left;
}

#h1Crear {
    color: white;
    background-color: #2d343d;
    font-size:50px;
    text-align:center;
}
#h1Consultar {
    color: white;
    background-color: #2d343d;
    font-size:50px;
    text-align:center;
}

#h1Actualizar {
    color: white;
    background-color: #2d343d;
    font-size:50px;
    text-align:center;
}

#h1Verificar {
    color: white;
    background-color: #2d343d;
    font-size:50px;
    text-align:center;
}

#h1Crear img {
    margin-left: 20px;
}

#h1Consultar img {
    margin-left: 20px;
}

#h1Actualizar img {
    margin-left: 20px;
}

#h1Verificar img {
    margin-left: 20px;
}

#menu {
    list-style:none;
    height:100%;
    background: transparent;
    width: 100%;
    margin-left: 0px;
}

#menu li {
    display:block;
    text-align:left;
    padding: 4px 10px 4px 10px;
    border:none;
    display:block;
    outline:0;
    text-decoration:solid;
    width:auto;
    background: transparent;
    height:100%;
    margin-top: 20px;
}

a {
    background-color: transparent;
    text-align:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px; 
    color: #585f70;
}

a :hover {
    background-color: #2f2e42;
    color:white;
    font-size: 24px;
}

.GridView {
    width:100%;
    height:auto;
}

.Textbox {
    width: 200px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:20px;
    margin-left:20px;
    text-align: center;
    color: #ADADAD;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:900;
    font-size:18px;
    border-style: solid;
}

.TbxFiltrar {
    width: 350px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right:20px;
    margin-left:20px;
    text-align: center;
    color: #ADADAD;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:900;
    font-size:22px;
    border-style: solid;
}