body {
    background: #2d343d;
}

form {
    background: white;
    margin: 50px auto;
    width: 1050px;
    text-align: center;
}

.DataGrid {
    width: 100%;
}

h1 {
    background-color: #12101e;
    height: 50px;
    padding: 5px 5px 5px 5px 5px;
    color:white;
}

.button {
    width: 200px;
    height: 35px;
    margin-bottom: 25px;
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    background: #f0776c;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
}

.textbox {
    width: 180px;
    height: 30px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 20px;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 300;
    color: #ADADAD;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}